extends layout

block content
  h1 New Message
  form(method='POST' action="/new") 
    input(
      type='text'
      name='author'
      placeholder='Your Signature'
      required
    )
    textarea(
      type='text'
      rows="10" 
      cols="50"
      name='message'
      placeholder='Write something!'
      required
    )
    button(
      type='submit'
    ) Submit
    a(href='/')
      button(type='button') Go back