extends layout

block content
  h1= title
  p Welcome to #{title}
  if messages && messages.length
    each message in messages
      div.message(style='border: 1px solid')
        h4= message.added
        h3= message.user
        p= message.text
  else
    p No messages available
  a(href='/new')
    button(type='button') New Message
     
